body{
    background-color: black;
    font-family: 'Honk', system-ui;
}

.container h1{
    color: purple;
}

#cabecalho .nav .nav-link.active{
    background-color: rgba(137, 43, 226, 0.555);
}

header,
.purplebord{
    border: 2px solid purple;
    box-shadow: 0 0 30px purple;
    background-color: black;
}

header h1,
nav ul li a{
    font-family: 'Honk', system-ui;
    
}

#qm-somos,
#cardapio{
    background-color: rgba(128, 0, 128, 0.055);
}

.qm-somos-texto{
    font-size: 30px;
}

.textcolor{
    background-color: purple;
}

.nav-cardapio .nav-link.active{
    background-color: rgba(137, 43, 226, 0.555);
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
    color: blueviolet;
}

#Fale-conosco form input{
    font-family: 'Roboto', sans-serif;
}

#Fale-conosco form textarea{
    font-family: 'Roboto', sans-serif;
}

@media(max-width:767px){
    .carousel-item img{
        height: 280px;
    }
}